body {
    background-color: rgb(3, 33, 51);
    position: relative;
  }

#header{
    background-color:black;
    color: white;
    padding: 0 200px;  
}  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    box-shadow: 2px 5px 8px rgb(155, 153, 153); 
}
.stickNav {
    color: white
}
#name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 10px 20px;
}
h1 {
    font-size: 50px;
    color: #4aaaa5;
    text-align: center;
}

#aboutBox {
    
    background-color: #062F48;
    padding: 100px 0px;
}
.aboutParah{
    padding: 100px 20px 100px 270px;
}

#portfolioBox {
    
    background-color: #813772;
    padding: 100px 0px;
}
.imageBox {
    padding-left: 100px;
    position: relative;
}
img {
    box-shadow: 0px 0px 20px 1px #062F48
}
.description {
    text-align: center;
    width: 300px;
    padding: 10px 0;
    background-color: white;
    color: #4aaaa5;
    position: absolute;
    bottom: 50px;
    opacity: .3;
}
.description:hover {
    opacity: 1;
}
#contactBox {
    background-color: #882601;
    padding: 100px 0px;
}
a:link {
    color: #4aaaa5;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #4aaaa5;
}
h2 {
    text-align: center;
    font-size: 55px;
}
#submit{
    margin-bottom: 20px;
    background-color: #062F48;
}

#footer {
    color:white;
    background-color: black;
    padding: 30px;
    margin-top: 35px;  
}